<nav class="sticky top-0 z-50 bg-white border-b-2 py-2">
    <div class="flex flex-row lg:flex-col justify-center">
      <nav class="flex justify-center">
        <a class="uppercase hover:bg-gray-200 lg:mr-4 px-2 lg:py-1 rounded mt-2 lg:mt-5 text-xs lg:text-base lg:block" href="/">Home</a>
        {%- for nav in site.data.nav -%}
          <a class="uppercase hover:bg-gray-200 lg:mr-4 px-2 lg:py-1 rounded mt-2 lg:mt-5 text-xs lg:text-base lg:block" href={{nav.url}} ">{{nav.title}}</a>
        {%- endfor -%}
      </nav>
    </div>
  </nav>
  <!-- nav.html -->


