<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="imgs/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/output.css" rel="stylesheet">

    <title>{{page.title}}</title>
  </head>
  <body>
             <!-- Homepage -->
  
            {% include nav.html %}
          <div class="grid grid-row lg:grid-cols-3">
            {% include bio.html %}
            
              <div class="w-full lg:w-full lg:col-span-2 break-words">                
                
                {% include news.html %}
                <!-- Resume -->
                {% include resume.html %}
                <!-- Publication -->
                {% include publication.html %}
                <!-- Projects -->
                {% include projects.html %}
            

                </div>
            </div>
  

  </body>
</html>
